torch==1.8.1+cpu
torchvision==0.9.1+cpu
transformers 
sentencepiece
python-Levenshtein 
fuzzywuzzy
sentence-transformers
pandas
protobuf
git+https://github.com/PrithivirajDamodaran/Parrot_Paraphraser.git